@import 'reset';

$font-title: 'Poiret One', Verdana, Geneva, sans-serif;
$font-text: 'Lato', Verdana, Geneva, sans-serif;

$color-red: #C44741;
$color-white: #FFFFFF;
$color-beige: #E5E1D1;
$color-dark-grey: #2C343B;
$color-light-grey: #52616D;

img, embed, object, video {
  max-width: 100%;
}

html, body {
  font-family: $font-text;
  height: 100%;
  color: #2C343B;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
  font-weight: 100;
  color: #C44741;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

#root {
  min-height: 100%;
  background-color: #E5E1D1;
}
