@import 'reset';

//$font-title: 'Poiret One', Verdana, Geneva, sans-serif;
$font-title: 'Lobster', cursive;
$font-text: 'Lato', Verdana, Geneva, sans-serif;

$color-red: #C44741;
//$color-white: #FFFFFF;
$color-white: #FEFEFE;
$color-beige: #E5E1D1;
//$color-dark-grey: #2C343B;
//$color-light-grey: #52616D;
$color-dark-grey: #2B2B2B;
$color-light-grey: #808080;
$color-light-pink: #F3C3C6;
$color-light-blue: #94AdDE;

$color-background: $color-white;
$color-headers: $color-dark-grey;
$color-text: $color-light-grey;

img, embed, object, video {
  max-width: 100%;
}

html, body {
  font-family: $font-text;
  height: 100%;
  color: $color-text;
}

h1, h2, h3, h4, h5 {
  font-family: $font-title;
  font-weight: 100;
  color: $color-headers;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

#root {
  height: 100%;
  min-height: 100%;
  background-color: $color-background;

  .app {
    height: 100%;
    min-height: 100%;

    .full-page {
      display: table;
      height: 100%;
      width: 100%;
      min-height: 100%;

      .landing {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

